body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

/** {
  scrollbar-width: none;
  scrollbar-color: #A8A8A8 #ffffff;

}*/


*::-webkit-scrollbar-track {
  background: #ffffff;

}

*::-webkit-scrollbar-thumb {
  background-color: #646066;
  border-radius: 8px;
  border: 3px none #ffffff;
}

.add_task {
  padding: 64px 0 0 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
  gap: 10px;
}

.add_task_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  height: 70vh;
}

.add_class_top_section {
  display: flex;
  flex-direction: column;
  width: 440px;
  gap: 12px;
}

.input_add_task {
  display: flex;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  height: 38px;
  padding: 0px 49px 13px 0px;
  margin: 0px 16px 16px 0px;
  line-height: 38px;
  font-weight: 400;
  font-size: 32px;
  outline: none;
  gap: 4px;
}

.input_add_task:hover {
  cursor: pointer;
}

::placeholder {
  color: #d1d1d1;
}

.add_description_span {
  display: flex;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  margin: 4px 0px 4px 0px;
  gap: 4px;
}

.add_description_span {
  cursor: pointer;
}

.add_description_textfield {
  width: 440px;
  height: 103px;
  border-radius: 0px 10px 10px 10px;
  border: 1px solid #d1d1d1;
  padding: 10px;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  box-sizing: border-box;
  outline: none;
}

.add_description_textfield {
  cursor: pointer;
}

::-webkit-resizer {
  display: none;
}

.add_date_span {
  display: flex;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  margin: 4px 0px 4px 0px;
  gap: 4px;
}

.add_date_span {
  cursor: pointer;
}

.input_add_date {
  width: 440px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  font-weight: 400;
  font-size: 19px;
  color: #d1d1d1;
  line-height: 23px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  outline: none;
}

.input_add_date {
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  filter: invert(25%) sepia(94%) saturate(2685%) hue-rotate(202deg) brightness(90%) contrast(90%);
  height: 24px;
  width: 24px;
}

.add_priority {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add_priority_span {
  display: flex;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
}

.priority_buttons {
  display: flex;
  gap: 16px;
}

.button_urgent.priority_active {
  color: white;
  background-color: #ff3d00;
}

.button_medium.priority_active {
  color: white;
  background-color: #ffa800;
}

.button_low.priority_active {
  color: white;
  background-color: #7ae229;
}

.button_low.priority_inactive,
.button_medium.priority_inactive,
.button_urgent.priority_inactive {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  background-color: white;
}

.button_low,
.button_medium,
.button_urgent {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 136px;
  height: 51px;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  padding: 18px 10px 18px 10px;
  gap: 10px;
}

.prio_urgent {
  height: 200px;
  width: 200px;
}

.prio_icon_medium_span {
  font-size: 30px;
  color: #ffa800;
}

.prio_icons {
  width: 20px;
  height: 18px;
}

.priority_inactive.button_urgent:hover {
  box-shadow: 0px 2px 0px #ff3d00;
}

.priority_inactive.button_medium:hover {
  box-shadow: 0px 2px 0px #ffa800;
}

.priority_inactive.button_low:hover {
  box-shadow: 0px 2px 0px #7ae229;
}

.add_assigned_to {
  display: flex;  
  /* position: fixed; */
  gap: 8px;
}

.assigned_to_dropdown_content {
  display: none;
  background-color: white;
  padding: 12px;
  position: absolute;
  z-index: 1;
  width: 90vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  li:hover {
    background-color: #d2e3ff;
    cursor: pointer;
  }
}

.assigned_to_dropdown_content.show {
  display: block;
  width: 432px;
  max-height: 200px;
  /* padding: 1px 0px 4px 10px; */
  padding: 0px;
  overflow: scroll;
}

.add_assigned_to_span {
  font-size: 19px;
  line-height: 23px;
}

.add_assigned_to_span:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  display: flex;
}

ul:hover {
  cursor: pointer;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  font-size: 19px;
  line-height: 23px;
  padding: 3px 10px 3px 10px;
  gap: 15px;

  .contact_div{
    display: flex;
    gap: 3vh;
    align-items: center;
  }
}

li.active {
  background-color: #4589FF;
  color: white;
}

li.active:hover {
  background-color: #005DFF;
}

.contact_container_img {
  border-radius: 50%;
  margin: 1px;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0px -8px 0px 0px;
}

.custom_checkbox label {
  border: 2px solid #4589FF;
}

.custom_checkbox input:checked+label {
  border-color: #4589FF;
  /* Rahmenfarbe bei aktivierter Checkbox */
  background-color: #4589FF;
  /* Hintergrundfarbe bei aktivierter Checkbox */
}

.checkbox:hover {
  cursor: pointer;
}

.selected_Contact {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  border-radius: 10px;
  padding: 7px 0px 7px 10px;
}

.dropdown_task {
  margin-top: 8px;
  width: 440px;
  position: relative;
}

.dropdown_header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
  padding: 12px 4px 12px 16px;
}

.dropdown_header:hover {
  cursor: pointer;
  border-bottom: 1px solid #005DFF;
}

.dropdown_span {
  font-size: 19px;
  line-height: 23px;
}

.dropdown_arrow {
  color: #4589FF;
  padding: 2px 4px 0px 4px;
}

.dropdown_arrow:hover {
  background-color: #d2e3ff;
  border-radius: 50%;
}

.category_to_dropdown_content {
  display: none;
  background-color: white;
  padding: 12px;
  position: absolute;
  z-index: 1;
  width: 90vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.category_to_dropdown_content span:hover {
  background-color: #d2e3ff;
}

.category_to_dropdown_content span {
  cursor: pointer;
  display: block;
  font-size: 19px;
  line-height: 23px;
  padding: 5px 0px 5px 10px;
  margin: 0px 0px 0px -9px;
  border-radius: 10px;
}

.category_to_dropdown_content.show {
  display: block;
  width: 432px;
  max-height: 200px;
  padding: 10px 0px 4px 10px;
}

.add_category {
  display: flex;  
  /* position: fixed; */
  gap: 8px;
}

.add_category_span {
  display: flex;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
}

.add_category_span {
  cursor: pointer;
}

.add_subtasks {
  display: flex;
  flex-direction: column;
  width: 440px;  
  /* position: fixed; */
  gap: 8px;
}

.add_subtask_span {
  display: flex;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
}


.add_subtask_input_div {
  display: flex;
  align-items: center;
}

.input_subtasks {
  display: flex;
  border: none;
  width: 440px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  box-sizing: border-box;
  line-height: 23px;
  font-weight: 400;
  font-size: 19px;
  outline: none;
}

.input_subtasks:hover {
  cursor: pointer;
}

.add_subtask_icon {
  width: 25px;
  height: 25px;
}

.add_subtask_icon:hover {
  background-color: #d2e3ff;
  border-radius: 50%;
  color: #005DFF;
}

.add_subtask_delete_icon {
  /* display: none; */
  font-weight: 400;
  font-size: 17px;
  padding: 0px 5px 2px 5px;
  color: #4589FF;
  border: none;
  background-color: white;
}

.add_subtask_delete_icon:hover {
  background-color: #d2e3ff;
  border-radius: 50%;

}

.subtask_check_icon {
  height: 15px;
  width: 15px;
  padding: 4px 3px 3px 4px;
}

.subtask_check_icon:hover {
  background-color: #d2e3ff;
  border-radius: 50%;
}

.build_subtask {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.build_subtask_2 {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: solid 1px #005DFF;
  border-radius: 0px;
}

.build_subtask.inactive {
  display: none;
}

.build_subtask_span {
  font-weight: 400;
  font-size: 19px;
  align-items: baseline;
  border: none;
  outline: none;
  padding: 6px 0px 0px 16px;
}

.build_subtask_span_2 {
  border: none;
  outline: none;
  font-size: 19px;
  font-weight: 400;
  padding: 0px 16px 0px 16px;
}

.build_subtask_2.inactive {
  display: none;
}

.build_subtask_2:hover {
  background-color: white;
}


.build_subtask:hover {
  background-color: #d2e3ff;
}

.subtask_icons_div {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 10px 0px 0px;
}

.subtask_icons_div:hover {
  cursor: pointer;
}

.subtask_icon_div {
  display: flex;
  align-items: center;
}

.subtask_icon {
  display: flex;
  height: 18px;
  width: 16px;
  padding: 3px;
}

.subtask_icon:hover {
  border-radius: 50%;
  background-color: #b7d2fd;

}

.subtask_icon_delete {
  display: flex;
  height: 18px;
  width: 16px;
  padding: 3px;
}

.subtask_icon_delete:hover {
  border-radius: 50%;
  background-color: #d2e3ff;
}

.subtask_icons {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 10px 0px 0px;
}

.subtask_icons.inactive {
  display: none;
}

.subtask_divider {
  width: 2px;
  min-height: 23px;
  /*  min-height: calc(100% - 10px); */
  background-color: #e8e8e8;
  margin: 5px 0;
  flex-shrink: 0;
}

.add_task_form_buttons {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  gap: 20px;
  padding-left: 200px;
}

.form_button {
  width: 136px;
  height: 60px;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  color: #647188;
  border: 1px solid #647188;
  border-radius: 10px;
  padding: 16px 10px 16px 10px;
  gap: 10px;
  box-shadow: none;
}

.form_button:hover {
  cursor: pointer;
  border: 3px solid #4589FF;
  color: #4589FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0, 9ms ease;
}

/*CSS CLICKED OFF */
.form_create_button {
  width: 174px;
  height: 60px;
  box-shadow: none;
  border: 1px solid #4589FF;
  border-radius: 10px;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  color: white;
  background-color: #4589FF;
}

.form_create_button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0, 9ms ease;
  background-color: #005DFF;
}


/*CSS CLICKED ON */
/* .form_create_button_active {
  width: 174px;
  height: 60px;
  box-shadow: none;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  color: #4589FF;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
} */

/*Animation*/
.hidden_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  z-index: 10000;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}

.hidden_popup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 35px;
  background-color: #4589FF;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
  gap: 12px;
  font-family: Open Sans;
  font-size: 23px;
  font-weight: 400;
  transform: translateY(100%);
  transition: transform 1s ease, opacity 1s ease;
  opacity: 0;
}

.hidden_container.visible {
  opacity: 1;
  visibility: visible;
}

.hidden_popup.visible {
  transform: translateY(0);
  opacity: 1;
}



@media(max-width: 680px) {
  .add_class_top_section {
    width: 380px;
  }

  .add_description_textfield {
    width: 360px;
  }

  .input_add_date {
    width: 370px;
  }

  .priority_buttons {
    gap: 12px;
  }

  .button_low,
  .button_medium,
  .button_urgent {
    width: 110px;
    gap: 5px;
    font-size: 16px;
  }

  .dropdown_task {
    width: 370px;
  }

  .add_subtasks {
    width: 370px;
  }

  .input_subtasks {
    width: 370px;
  }
}

@media(max-width: 780px) {
  .add_task_form_buttons {
    padding-left: 160px;
  }
}

@media(max-width: 740px) {
  .add_task_form_buttons {
    padding-left: 130px;
  }
}

@media(max-width: 700px) {
  .add_task_form_buttons {
    padding-left: 100px;
  }
}

@media(max-width: 680px) {
  .add_task_form_buttons {
    padding-left: 60px;
  }
}

@media(max-width: 630px) {
  .add_task {
    padding: 50px 0 0 20px;
  }

  .add_task_form_buttons {
    padding-left: 40px;
  }
}
@media(max-width: 600px) {
  .add_task {
    padding: 15px 0 100px 0;
    align-items: center;
  }

  .add_task_form_buttons {
    padding-right: 15px;
    padding-left: 0;
  }
}

@media (max-width: 430px) {
  .add_task {
    align-items: flex-end;
  }

  .add_class_top_section {
    width: 340px;
  }

  .add_description_textfield {
    width: 320px;
  }

  .input_add_date {
    width: 320px;
  }

  .priority_buttons {
    gap: 8px;
  }

  .button_low,
  .button_medium,
  .button_urgent {
    width: 100px;
    padding: 15px 5px;
  }

  .prio_icons {
    width: 20px;
    height: 18px;
  }

  .dropdown_task {
    width: 320px;
  }

  .add_subtasks {
    width: 320px;
  }

  .input_subtasks {
    width: 264px;
  }
}

@media (max-width: 370px) {
  .add_task_form {
    padding-right: 0;
  }
}

@media (max-height: 850px) {
  .add_task_form {
    height: 65vh;
  }

  .add_task {
    gap: 40px;
  }
}

@media (max-height: 800px) {
  .add_task {
    gap: 30px;
  }
}

@media (max-height: 770px) {
  .add_task_form {
    height: 60vh;
    padding-top: 10px;
  }

  .add_task {
   gap: 20px;
  }
}