.board_top_section {
  display: flex;
  position: fixed;
  width: 1208px;
  height: 215px;
  top: 105px;
  left: 232px;
  padding: 72px 0px 16px 48px;
  gap: 32px;
}

.board_input_section {
  display: flex;
  align-items: center;
  width: 312px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  background-color: white;
}

.board_input_section:hover {
  cursor: pointer;
  border: 1px solid #4589ff;
}

.find_task_input {
  display: flex;
  justify-content: space-between;
  width: 280px;
  height: 32px;
  margin: 4px;
  padding: 8px 16px 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.find_task_input:hover {
  cursor: pointer;
}

.input_divider {
  width: 2px;
  height: calc(100% - 10px);
  background-color: #e8e8e8;
  margin: 5px 0;
  flex-shrink: 0;
}

.find_task_input::placeholder {
  color: #e8e8e8;
}

.input_search_icon {
  display: flex;
  width: 28px;
  height: 28px;
  margin: 0px 16px 0px 16px;
}

.input_search_icon:hover {
  background-color: #d2e3ff;
  border-radius: 10px;
}

.add_task_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 138px;
  height: 51px;
  position: fixed;
  padding: 16px 10px 16px 10px;
  border: solid 1px #4589ff;
  border-radius: 10px;
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  background-color: #4589ff;
  color: white;
}

.add_task_button:hover {
  cursor: pointer;
  background-color: #0038ff;
  border: 1px solid #0038ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.add_task_button_icon {
  width: 23px;
  height: 23px;
}

.task_status_bar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  box-sizing: border-box;
  height: 28px;
  margin: 100px 0px 0px 0px;
  gap: 18px;
}

.task_status {
  display: flex;
  width: 244px;
  height: 28px;
}

.task_status_span {
  margin: 0;
  width: 244px;
  height: 28px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
}

.task_button {
  margin: 3px 0px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  border: 2px solid #4589ff;
  color: #4589ff;
  background-color: white;
  border-radius: 8px;
  padding: 3px;
}

.task_button:hover {
  cursor: pointer;
  border: 2px solid #0038ff;
  color: #0038ff;
}

.task_content {
  display: flex;
  box-sizing: border-box;
  width: 1208px;
  height: 55vh;
  position: fixed;
  top: 323px;
  left: 232px;
  padding: 0px 48px;
  gap: 18px;
  overflow: scroll;
}

.task_bar_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  width: 244px;
  gap: 7px;
}

.no_task_to_do {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 0px 16px 0px 16px;
  border-radius: 10px;
  border: 2px dotted #c7c7c7;
  background-color: #e7e7e7;
}

.task_card {
  width: 210px;
  height: 244;
  border-radius: 24px;
  padding: 16px;
  gap: 10px;
}

.task_card:hover {
  cursor: pointer;
}

.add_task_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  display: none;
  overflow: hidden;
}

.add_task_overlay.show .overlay_right {
  transform: translateX(0);
}

.overlay_left {
  width: 65vw;
}

.overlay_right {
  width: 35vw;
  background-color: white;
  opacity: 1;
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #f2f2f2;
  padding-top: 156px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  overflow-y: auto;
  h1 {
    font-size: 48px;
    margin: 0px;
  }
}

.add_task_header {
  display: flex;
  justify-content: space-between;
  width: 35vw;
  height: 80px;
  padding: 40px 0px 40px 0px;
  gap: 49px;
  z-index: 1001;
  top: 0;
  background-color: white;
  position: fixed;
  border-radius: 30px 0px 0px 0px;
}

.add_task_header_title {
  padding-left: 3vw;
}

.add_task_escape_img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.add_task_escape_img:hover {
  background-color: #d2e3ff;
  border-radius: 50%;
}

.add_task_overlay_content {
  padding-top: 200px;
}

.add_task_footer {
  display: flex;
  justify-content: center;
  justify-content: flex-end;
  background-color: white;
  width: 100%;
  height: 90px;
  padding: 5px 30px 15px 0px;
  z-index: 1001;
  position: sticky;
  bottom: 0;
}

.add_subtask_content {
  margin-bottom: 200px;
}

.overlay_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  align-items: center;
  justify-content: center;
  display: none;
  overflow: hidden;
}

.overlay_top.show .overlay_top_content {
  bottom: 4%;
}

.overlay_top_content {
  width: 500px;
  min-height: max-content;
  background-color: white;
  border-radius: 30px;
  padding: 48px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #f2f2f2;
  position: fixed;
  bottom: -100%;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 0.3s ease;
  box-sizing: border-box;
  gap: 24px;
}

/*/ CARD DESIGN /*/ 
.card_complete {
  display: flex;
  flex-direction: column;
  width: 215px;
  gap: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin-top: 3px;
}

.card_complete:hover {
  cursor: pointer;
}

.card_category {
  padding: 7px 0px 14px 0px;
}

.card_categories_span {
  font-size: 16px;
  font-weight: 400;
  color: white;
  line-height: 19px;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
}

.user_story {
  background-color: #FF7A00;
}

.technical {
  background-color: #0038FF;
}

.card_top_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_title {
  font-size: 16px;
  font-weight: 400;
  color: #4589ff;
  line-height: 19px;
}

.card_description {
  font-size: 16px;
  font-weight: 400;
  color: #A8A8A8;
  line-height: 19px;
}

.card_task_status {
}

.card_bottom_section {
  display: flex;
}

.card_contacts {
}

.card_prio {
}

/*/ OVERLAY BIG CARD DESIGN /*/
.card_b {
  color: #42526E;
}

.add_task_escape_img:hover {
  cursor: pointer;
}

.overlay_card {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.overlay_date {
  display: flex;
  gap: 2vw;
}

.overlay_priority {
  display: flex;
  gap: 3vw;
}

.overlay_priority_status {
  display: flex;
  align-items: center;
  gap: 10px;
}

.overlay_category {
  display: flex;
  justify-content: space-between;
}

.overlay_contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  li {display: flex;
    justify-content: flex-start;
    gap: 30px;
  }
}

.overlay_subtask {
  padding: 2px 5px 2px 5px;
  width: max-content;
  margin: 5px;
}

.overlay_subtask:hover {
  background-color: #d2e3ff;
  width: fit-content;
  padding: 2px 5px 2px 5px;
  border-radius: 8px;
}

.overlay_category_span {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: white;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
}

.overlay_title_span {
  font-size: 61px;
  font-weight: 700;
  line-height: 55px;
}

.overlay_icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
}

input {
cursor: pointer;
}

.overlay_icons_span {
  padding: 2px;
}

.overlay_icons_span:hover {
  color: #0038FF; 
  cursor: pointer;
  font-weight: bold;
  }

.overlay_card_icon {
  height: 18px;
  width: 16px;
  padding: 2px;
}

.overlay_card_icon:hover {
  cursor: pointer;
}