/* general classes */
.d-flex {
    display: flex;
    flex-direction: column;
}

.d-flex_row {
    display:  flex;
    flex-direction: row;
}

.d-flex_column {
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.s-gap {
    gap: 8px;
}

.d-none {
    display: none;
}

.blue-background {
    background-color: #4986fe !important;
    color: white !important;
}

.blue-button-container, .cancel-button-container, .create-button-container, .save-button-container {
    height: 40px !important;
    padding: 0 8px !important;
}

.contacts_sidebar {
    position: absolute !important;
    top: 100vh - 96px;
    left: 0;
    bottom: 0;
  }
/* *-*-*-* */

body {
    font-family: 'Open Sans', sans-serif;
}

.contacts-main-container {
    margin-left: 230px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0px 2.6px;
    align-items: center;
}

.add-contact-button, .open-nav-button {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 1.2em;
    background-color: #4689fe;
    margin: 30px 0;
    border-radius: 10px;
    padding: 8px 50px;
}

.add-contact-button-text {
    color: white;
}

.add-contact-button:hover {
    cursor: pointer;
    background-color: rgb(0, 94, 255);
}

.mobile_nav {
    position: absolute;
    bottom: 100px;
    right: 80px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 
    0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 12px 12px 0px 12px;
}

/* START contact-book */
.contact-book {
    height: calc(100vh - 200px);
    overflow: auto;
}

.filter-number {
    margin-left: 36px;
    font-size: 1.2em;
}

.seperator {
    background-color: rgb(128, 128, 128, 0.2);
    height: 1.7px;
    margin-top: 12px;
    margin-left: 30px;
    margin-right: 30px;
}

.contact-container {
    flex-direction: row;
    align-items: center;
    gap: 22px;
    border-radius: 12px;
    margin: 0 30px;
    height: 70px;
    padding-left: 8px;
}

.contact-container-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.filter-card {
    margin-bottom: 22px;
    gap: 8px;
}

.contact-container:hover {
    background-color: #d2e3ff;
    cursor: pointer;
} 

.contact-container-mail {
    text-decoration: none;
}

.contact-container-text-email {
    color: blue;
    background-color: purple;
}
/* END contact-book */

/* START selected container */

.selected-contact_main-container.hide {
    animation: slideOutRight 0.5s forwards;
}

.selected-contact_main-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 42vw;
    height: 100vh;
    transform: translateX(100%);
    opacity: 0;
    animation: slideInRight 0.5s forwards;
}

.selected-contact-container {
    margin:  40px 32px;
    flex-direction: column;
}

.selected-contact-profil-top {
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.selected-contact-profil-name {
    font-size: 2em;
}

.selected-contact-profil-right {
    gap: 16px;
}

.selected-contact-profil-nav, .mobile_nav {
    gap: 16px;
}

.selected-contact-profil-bottom {
    gap: 16px;
}

.selected-contact-headline {
    font-size: 1.5em;
    margin-top: 36px;
}

.edit:hover, .delete:hover {
    cursor: pointer;
    font-weight: bold;
    color: #4689fe;
}

.edit:hover svg, .delete:hover svg {
    stroke: #4689fe;
    stroke-width: 1;
}
/* END selected container */

/* START add_contact-overlay */
/* Slide Animation */
.add-contact_main-container.hide {
    animation: slideOutRight 0.5s forwards;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
/* Animation */


.add-contact_main-container {
    position: absolute;
    top: 0;
    right: 0;

    /* test */
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    transform: translateX(100%);
    opacity: 0;
    animation: slideInRight 0.5s forwards;
    /* test */
}

#close-add-area {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 101;
}

.add-contact_top-area {
    background-color: #005eff;
    height: 40vh;
    width: 60vw;
    display: flex;
    border-radius: 25px 0 0 0;
    border-left: solid gray 1px;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headline-text {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-top: 8px;
}

.close-container {
    align-items: flex-end;
    padding: 8px 8px 0px 0px;
}

.close-contacts svg:hover {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 100%;
    cursor: pointer;
}

.logo {
    margin-top: 24px;
    justify-content: center;
}

.underline-text {
    color: white;
    font-size: 1.2em;
    margin-top: 12px
}

#add-contact-form, #edit-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
}

/* bottom-area */
.add-contact_bottom-area {
    height: 60vh;
    width: 60vw;
    display: flex;
    position: absolute;
    right: 0;
    border-radius: 0 0 25px 0px;
    border-left: solid gray 1px;
    border-right: solid gray 1px;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding-top: 30px;
}

.button_container {
    gap: 12px;
    margin-top: 32px;
    justify-content: space-between;
    width: 34vw;
}

.create-button-container, .save-button-container{
    background-color: #4689fe;
    padding: 8px;
    color: white;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    flex: 1;
}

.cancel-button-container {
    justify-content: center;
    align-items: center;
}

.create-button-container, .save-button-container:hover {
    background-color: #005eff;
    cursor: pointer;
}

#name, #email, #mobile {
    border: none;
}

.name-contacts, .email-contacts, .phone-contacts, .name-edit-contacts, .email-edit-contacts, .phone-edit-contacts {
    border-bottom: solid gray 1px;
    margin-top: 8px;
    justify-content: space-between;
}

/* END add_contact-overlay */

/* START edit_contact-overlay */
.edit-contact_main-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    /* test */
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    opacity: 0;
    animation: slideInLeft 0.5s forwards;
    /* test */
}

/* animation */
.edit-contact_main-container.hide {
    animation: slideOutLeft 0.5s forwards;
}

#close-edit-area {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.edit-br {
    border-radius: 0 12px 12px 0;
}

.edit-area_top-area {
    background-color: #005eff;
    width: max-content;
    height: 40vh;
    display: flex;
    border-right: solid gray 1px;
    border-radius: 0 25px 0 0;
    border-left: solid gray 1px;
    width: 60vw;
}

.edit-area_bottom-area {
    display: flex;
    border-radius: 0 0 25px 0px;
    border-right: solid gray 1px;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 60vw;
    height: 60vh;
    padding-top: 36px;
}

.close-edit-contacts svg:hover {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 100%;
}

#edit-profile-img svg {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

#edit-name, #edit-email, #edit-mobile {
    border: none;
}

.name-edit-contacts, .email-edit-contacts, .phone-edit-contacts  {
    border-bottom: solid gray 1px;
    margin-top: 8px;
}

.blue-button-container {
    padding: 8px;
    color: white;
    border-radius: 9px;
    display: flex;
    align-items: center;
    border: solid #005eff 0.5px;
}

.blue-button-text {
    color: #005eff;
}

.blue-button-container:hover  {
    cursor: pointer;
    background-color: #005eff;

    .blue-button-text {
        color: white;
        cursor: pointer;
    }
}
/* END edit_contact-overlay */

.popup_container {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.popup {    
    background: #4589FF;
    border: 1px solid #4589FF;    
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 25px;
    transform: translateY(100vh);
}

.popup_container.show {
    opacity: 1;
    visibility: visible;
    display: flex;
}

.popup.show {
    animation: slideInOut 1.5s ease-in-out forwards;
    display: flex;
}

@keyframes slideInOut {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }
    25% {
        transform: translateY(0);
        opacity: 1;
    }
    75% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}


/* START Responsiveness */

@media (max-width: 1200px) {
    .contacts-main-container {
        margin-left: 200px;
    }
}

@media (max-width: 900px) {
    .contacts-main-container {
        margin-left: 190px;
    }
}

@media (max-width: 700px) {
    .contacts-main-container-name, .contacts-main-container-email {
        font-size: 1em;
    }

    .contact-container-text-name, .contact-container-mail {
        font-size: 1em;
    }

    .contact-container {
        align-items: center;
    }

    .contact-book {
        max-width: 400px;
    }

    .contact-container-img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 900px) {

    .add-contact_bottom-area, .add-contact_top-area {
        width: 60vw;
    }

    #add-contact-form, #edit-contact-form {
        width: 34vw;
    }

    .contacts-main-container {
        width: 100vw;
    }

    .contact-book {
        width: 400px;
    }

    .add-contact-button, .open-nav-button{
        width: 35vw;
    }

    .selected-contact-container {
        position: absolute;
        top: 210px;
        right: 0;
        left: 200px;
        bottom: 0;
        background-color: white;
        margin: 0;
        padding: 0px 6vw 0 10vw;

        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    .selected-contact-container.show {
        transform: translateX(0);
        opacity: 1;
    }

    .arrow_return_div {
        display: flex;
        justify-content: flex-end;
    }

    .arrow-container img {
        width: 44px;
        transition: transform 0.3s ease-in-out;
        margin-bottom: 20px;
    }

    .arrow-container img:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

    .edit-area_bottom-area, .edit-area_top-area {
        width: 60vw;
    }
}

@media (max-width: 600px) {

    .contacts-main-container, .edit-contact_main-container {
        margin: 0;
    }

    .contact-book {
        width: 80vw;
    }

    .add-contact-button, .open-nav-button {
        width: 48vw;
    }

    .selected-contact-container {
        position: absolute;
        top: 100px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: white;
        padding: 0px 15vw 0 15vw;
    }

    .add-contact_main-container, .edit-contact_main-container {
        position: absolute;
        right: 4vw;
        left: 4vw;
        bottom: 76px;
        top: 100px;
        z-index: 102;
    }

    .add-contact_bottom-area, .edit-area_bottom-area {
        position: static;
        height: 336px;
        padding: 0;
        border-radius: 0 0 25px 25px;
        width: 92vw;
    }

    .add-contact_top-area, .edit-area_top-area {
        height: 340px;
        border-radius: 25px 25px 0 0;
        width: 92vw;
    }

    .button_container {
        justify-content: center;
        align-items: center;
        width: auto;
    }

    #add-contact-form, #edit-contact-form {
        width: 50vw;
    }

    .profile-img {
        margin-top: -66px;
    }

    .logo {
        margin: 0;
    }
}

@media (max-width: 400px) {

    .selected-contact-profil-nav {
        display: none;
    }

    .add-contact-button-text {
        display: none;
    }

    .add-contact-button, .open-nav-button {
        width: 30px;
        height: 30px;
        padding: 10px;
        margin: 0;
        position: absolute;
        bottom: 12vh;
        right: 6vw;
    }

    .filter-card:first-child {
        margin-top: 20px;
    }

    .contact-container {
        font-size: 0.8em;;
    }

    .contact-container-img {
        width: 40px;
        height: 40px;
    }

    #selected-name {
        font-size: 1.5em;
    }

    #selected-img svg {
        font-size: 1em;
    }

    .open-nav-button {
        display: flex;
    }

    .contact-container {
        margin: 0;
    }
}

@media (max-width: 350px) {
    .contact-container-img {
        width: 30px;
        height: 30px;
    }
}

/* END Responsiveness */