/* general classes */
.d-flex {
    display: flex;
    flex-direction: column;
}

.d-flex_row {
    display:  flex;
    flex-direction: row;
}

.d-flex_column {
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.s-gap {
    gap: 8px;
}

.d-none {
    display: none;
}

.blue-background {
    background-color: #4986fe !important;
    color: white !important;
}
/* *-*-*-* */

body {
    font-family: 'Open Sans', sans-serif;
}

.contacts-main-container {
    margin-left: 190px;
    width: 48vw;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0px 2.6px;
    align-items: center;
}

.add-contact-button {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 1.2em;
    background-color: #4689fe;
    margin: 30px 0;
    border-radius: 10px;
    padding: 8px 50px;
}

.add-contact-button-text {
    color: white;
}

.add-contact-button:hover {
    cursor: pointer;
    background-color: rgb(0, 94, 255);
}

/* START contact-book */
.contact-book {
    width: 360px;
    height: calc(100vh - 200px);
    overflow: auto;
}

.filter-number {
    margin-left: 60px;
    font-size: 1.2em;
}

.seperator {
    background-color: rgb(128, 128, 128, 0.2);
    height: 1.7px;
    margin-top: 12px;
    margin-left: 30px;
    margin-right: 30px;
}

.contact-container {
    flex-direction: row;
    align-items: center;
    gap: 22px;
    border-radius: 12px;
    margin: 0 30px;
    height: 70px;
}

.filter-card {
    margin-bottom: 22px;
    gap: 8px;
}

.contact-container:hover {
    background-color: #d2e3ff;
    cursor: pointer;
} 

.contact-container-mail {
    text-decoration: none;
}

.contact-container-text-email {
    color: blue;
    background-color: purple;
}
/* END contact-book */

/* START selected container */
.selected-contact-container {
    margin:  40px 32px;
    flex-direction: column;
}

.selected-contact-profil-top {
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.selected-contact-profil-name {
    font-size: 2em;
}

.selected-contact-profil-right {
    gap: 16px;
}

.selected-contact-profil-nav {
    gap: 16px;
}

.selected-contact-profil-bottom {
    gap: 16px;
}

.selected-contact-headline {
    font-size: 1.5em;
    margin-top: 36px;
}

.edit:hover, .delete:hover {
    cursor: pointer;
    font-weight: bold;
    color: #4689fe;
}

.edit:hover svg, .delete:hover svg {
    stroke: #4689fe;
    stroke-width: 1;
}
/* END selected container */

/* START add_contact-overlay */
.add-contact_main-container {
    position: absolute;
    top: 0;
    right: 0;
}

#close-add-area {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.add-contact_top-area {
    background-color: #005eff;
    width: max-content;
    height: 40vh;
    width: 42vw;
    display: flex;

    border-radius: 25px 0 0 0;
    border-left: solid gray 1px;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headline-text {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-top: 8px;
}

.close-container {
    align-items: flex-end;
    padding: 8px;
}

.close-contacts svg:hover {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 100%;
    cursor: pointer;
}

.logo {
    margin-top: 24px;
    justify-content: center;
}

.underline-text {
    color: white;
    font-size: 1.2em;
    margin-top: 12px
}

#add-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* bottom-area */
.add-contact_bottom-area {
    height: 60vh;
    width: 42vw;
    display: flex;
    position: absolute;
    right: 0;
    border-radius: 0 0 25px 0px;
    border-left: solid gray 1px;
    border-right: solid gray 1px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.button_container {
    gap: 12px;
    margin-top: 14px;
    margin-bottom: 14px;
    justify-content: space-evenly;
}

.create-button-container {
    background-color: #4689fe;
    padding: 8px;
    color: white;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-button-container, .cancel-button-container {
    width: 100px;
    justify-content: center;
    align-items: center;
}

.create-button-container:hover {
    background-color: #005eff;
    cursor: pointer;
} 

#name, #email, #mobile {
    border: none;
}

.name-contacts, .email-contacts, .phone-contacts  {
    border-bottom: solid gray 1px;
    margin-top: 8px;
    justify-content: space-between;
}

#add-contact-form {
    margin-top: 8px;
}
/* END add_contact-overlay */

/* START edit_contact-overlay */
.edit-contact_main-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

#close-edit-area {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.edit-br {
    border-radius: 0 12px 12px 0;
}

.edit-area_top-area {
    background-color: #005eff;
    width: max-content;
    height: 40vh;
    width: 42vw;
    display: flex;
    border-right: solid gray 1px;

    border-radius: 0 25px 0 0;
    border-left: solid gray 1px;
}

.edit-area_bottom-area {
    display: flex;
    position: absolute;
    right: 0;
    border-radius: 0 0 25px 0px;
    border-right: solid gray 1px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.close-edit-contacts svg:hover {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 100%;
}

#edit-profile-img svg {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

#edit-name, #edit-email, #edit-mobile {
    border: none;
}

.name-edit-contacts, .email-edit-contacts, .phone-edit-contacts  {
    border-bottom: solid gray 1px;
    margin-top: 8px;
}

.blue-button-container {
    padding: 8px;
    color: white;
    border-radius: 9px;
    display: flex;
    align-items: center;
    border: solid #005eff 0.5px;
}

.blue-button-text {
    color: #005eff;
}

.blue-button-container:hover  {
    cursor: pointer;
    background-color: #005eff;

    .blue-button-text {
        color: white;
        cursor: pointer;
    }
}
/* END edit_contact-overlay */

/* START Popup Animation thanks to Jonas */
.popup_container {
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.popup {    
    background: #4589FF;
    border: 1px solid #4589FF;    
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 25px;
    transform: translateY(100%);
}

.popup_container.show {
    opacity: 1;
    visibility: visible;
}

.popup.show {
    animation: slideInOut 2s ease-in-out forwards;
}

@keyframes slideInOut {
    0% {
        transform: translateY(800px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-800px);
    }
}
/* END Popup */

/* START Responsiveness */
@media (max-width: 750px) {
    .add-contact_bottom-area, .add-contact_top-area {
        width: 60vw;
    }

    #add-contact-form {
        width: 34vw;
    }

    .create-button-container, .cancel-button-container {
        width: 150px;
    }

    .contacts-main-container {
        width: 100vw;
    }

    .contact-book {
        width: 60vw;
    }

    .add-contact-button {
        width: 35vw;
    }

    .selected-contact-container {
        position: absolute;
        top: 210px;
        right: 0;
        left: 200px;
        bottom: 0;
        background-color: white;
        margin: 0;
        padding: 0px 6vw 0 10vw;
    }

    .arrow_return_div {
        display: flex;
        justify-content: flex-end;
    }

    .arrow-container img {
        width: 44px;
        transition: transform 0.3s ease-in-out;
        margin-bottom: 20px;
    }

    .arrow-container img:hover {
        cursor: pointer;
        transform: scale(1.2);
    } 
}

@media (max-width: 650px) {

}

@media (max-width: 400px) {

}

/* END Responsiveness */