.help_section {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  width: 1032px;
  height: 999px;
}

.arrow_return {
  width: 32px;
  height: 32px;
}

.arrow_return_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 61px;
}

h2 {
  color: #005dff;
  font-weight: 700;
  font-size: 33px;
}

span {
  color: #4589ff;
}

.how_to_use {
  display: flex;
  gap: 16px;
}

.how_to_use_steps {
  width: 29px;
  height: 40px;
}
