body {
  overflow: hidden;
}

.legal_notice {
  padding: 20px 50px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;  
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

.arrow_return:hover {
  background-color: #d2e3ff;
  border-radius: 50%;
}

.arrow_return_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 61px;
}

h2 {
  color: #005dff;
  font-weight: 700;
  font-size: 33px;
}

h3 {
  color: #005dff;
  font-weight: 700;
  font-size: 19px;
}

span {
  color: #4589ff;
}

@media (max-width: 700px) {
  .legal_notice {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .legal_notice {
    padding: 10px 50px 100px 50px;
  }
}

@media (max-width: 585px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 25px;
  }
}