.legal_notice {
  margin: 0 auto;
  padding: 0px 140px 0px 0px;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  box-sizing: border-box;
  max-height: calc(100vh - 145px);
  top: 145px;
  left: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 0 !important;
  }

.arrow_return {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.arrow_return:hover {
  background-color: #d2e3ff;
  border-radius: 50%;
}

.arrow_return_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 61px;
}

h2 {
    color: #005dff;
    font-weight: 700;
    font-size: 33px;
  }
  
  h3 {
    color: #005dff;
    font-weight: 700;
    font-size: 19px;
  }

span {
  color: #4589ff;
}

@media (max-width: 768px) {
  .legal_notice {
  padding: 0px 100px 0px 0px;
  left: 320px;
}
}

@media (max-width: 700px) {
  .legal_notice {  
    font-size: 15px;
    left: 280px;
  }
}

@media (max-width: 585px) {
  .legal_notice {
    left: 240px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .legal_notice {
    left: 190px;
    max-height: 70vh;
  }
}

@media (max-width: 460px) {
  .legal_notice {
    left: 180px; 
   }
  }

  @media (max-width: 430px) {
    .legal_notice { 
    left: 100px; 
     }
    }

    @media (max-width: 400px) {
      .legal_notice { 
        left: 80px; 
         }
    }

    @media (max-width: 350px) {
      .legal_notice { 
        left: 55px; 
         }
    }
