.privacy_policy {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  width: 1032px;
  height: 325px;
}

.arrow_return {
  width: 32px;
  height: 32px;
}

.arrow_return_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 61px;
}

h3 {
    color: #005dff;
    font-weight: 700;
    font-size: 19px;
  }
  