.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #42526e;
  height: 932px;
  width: 232px;
  position: fixed;
  top: 92px;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 5px 2px 1px rgba(0, 0, 0, 0.1);
  padding: 66px 0px 66px 0px;
/*   gap: 235px; */
}

.sidebar_options {
  display: flex;
  flex-direction: column;
  max-height: 205px;
  max-width: 186px;
  gap: 15px;
  background-color: red;
}

.sidebar_option {
  display: flex;
  align-items: center;
  min-width: 186px;
  height: 40px;
  padding: 8px 30px 8px 30px;
  gap: 8px;
  border-radius: 8px 0px 0px 0px;
}

.sidebar_option:hover {
  background-color: aquamarine;
}

.sidebar_icon {
  width: 24px;
  height: 24px;
}

.sidebar_policy {
  display: flex;
  flex-direction: column;
  max-height: 205px;
  max-width: 186px;
  gap: 30px;
  margin: 300px 0px 0px 0px;
}

.privacy_policy:hover {
  color: #4589ff;
}