body {
    margin: 0;
}

.blue_button {
    background-color: #4589FF;

    
    padding: 28px 48px;
    gap: 35px;
    border-radius: 30px;
}

.parting_line {
    height: 145px;
    
}

.dis_flex {
    display: flex;
}

.flex_col {
    flex-direction: column;
}